        /*Browser reset*/

body {
    margin: 0;
    padding:0;
    font-family: "Libre Baskerville", serif;
}

         /*Header styling*/

header {
    text-align: center;
    border-bottom: 1px solid black;
    height: 13rem;
    background-image: linear-gradient(to top, rgba(255, 173, 51, 0), rgba(255, 173, 51, 1));
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 2rem;
}

        /*picture of me*/

.photo {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    border: 1px solid black;
    background-image: url('./images/passport-photo.jpg');
    background-size: cover;
}

        /*Home button*/

.home {
    position: absolute;
    top: 30px;
    right: 30px;
}

.home i {
    color: black;
}

        /*main styling*/

/*main {
    background-color: rgb(242, 242, 242);
}*/

        /*Headings styles*/

h1 {
    font-size: 3rem;
    font-weight: bold;
    padding-top: 1rem;
    margin-top: 0;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
}


        /*Contact styling*/

.phone-mobile {
    display: none;
}

.contact p {
    display: inline-block;
    font-size: 1.5rem;
    background-color: rgb(255, 173, 51);
    padding: 0.5rem;
}

.contact {
    padding: 1rem;
}

.contact i {
    padding: 1.5rem;
    font-size: 4rem;
} 

.contact a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    background-color: rgb(255, 173, 51);
    padding: 0.5rem;
}

.contact-info {
    border: 1px solid rgb(255, 173, 51);
    box-shadow: 5px 5px 5px rgb(255, 173, 51);
    width: 40%;
    margin: 0 auto;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

        /*Media Queries*/

@media only screen and (max-width: 1500px) and (min-width: 1100px) {
    .contact-info {
        width: 60%;
    }
    .contact {
        padding-left: 10%;
    }
}

@media only screen and (max-width: 1100px) {
    .phone {
        display: none;
    }
    .phone-mobile {
        display: block;
    }
    .contact-info {
        border: none;
        box-shadow: none;
        width: 100%;
        padding-top: 5rem;
    }
    .contact {
        padding-left: 5%;
    }
    .contact p {
        font-size: 1rem;
    }
    .contact a {
        font-size: 1rem;
    }
    .contact i {
        font-size: 1.5rem;
        padding: 0.3rem;
    }
    .contact-info ul {
        text-align: center;
    }
    header {
        height: 17rem;
    }
    h1 {
        padding-top: 5rem;
    }
    .photo {
        height: 100px;
        width: 100px;
        top: 18rem;
        left: 35%;
    }
}