        /*Browser reset*/

body {
    margin: 0;
    padding:0;
    font-family: "Libre Baskerville", serif;
}

         /*Header styling*/

header {
    text-align: center;
    border-bottom: 1px solid black;
    height: 13rem;
    background-image: linear-gradient(to top, rgba(255, 173, 51, 0), rgba(255, 173, 51, 1));
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 2rem;
}

        /*picture of me*/

.photo {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    border: 1px solid black;
    background-image: url('./images/passport-photo.jpg');
    background-size: cover;
}

        /*Home button*/

.home {
    position: absolute;
    top: 30px;
    right: 30px;
}

.home i {
    color: black;
}

        /*Headings styles*/

h1 {
    font-size: 3rem;
    font-weight: bold;
    padding-top: 1rem;
    margin-top: 0;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
}


        /*Contact styling*/

.contact p {
    display: inline-block;
    font-size: 2rem;
}

.contact {
    margin: 2rem 0;
}

.contact i {
    padding: 2rem;
    font-size: 4rem;
} 

.contact a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    background-color: rgb(255, 173, 51);
    padding: 0.5rem;
}

.contact-info {
    border: 1px solid rgb(255, 173, 51);
    box-shadow: 5px 5px 5px rgb(255, 173, 51);
    width: 40%;
    margin: 0 auto;
}