
        /*Browser reset*/

body {
    margin: 0;
    padding:0;
    font-family:"Libre Baskerville", serif;
}

        /*overlay over page body is to highlight the menu bar*/

.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    z-index: 1;
}

        /*Section breaks*/

hr {
    width: 80%;
    margin: 0 auto;
}

         /*Header styling*/

header {
    text-align: center;
    border-bottom: 1px solid black;
    height: 13rem;
    background-image: linear-gradient(to top, rgba(255, 173, 51, 0), rgba(255, 173, 51, 1));
    margin-top: 0;
    padding-top: 0;
}

        /*picture of me*/

.photo {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    border: 1px solid black;
    background-image: url('./images/passport-photo.jpg');
    background-size: cover;
}

        /*menu open button*/
.menu {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
}
        /*Inner style of menu button*/
.menu div {
    width: 70%;
    height: 5%;
    background-color: grey;
    box-shadow: 1px 1px 1px;
    display: inline-block;
}

        /*hidden menu bar styling*/

.menu-bar {
    position: absolute;
    top: 0;
    right: 0;
    height: 0;
    width: 0;
    background-color: rgb(230, 230, 230);
    z-index: 2;
    overflow: hidden;
    transition: 0.5s;
}

.menu-bar h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

        /*menu close button*/

.menu-bar div {
    border: 1px solid black;
    box-shadow: 1px 1px 1px;
    position: absolute;
    top: 5px;
    right: 5px;
    height: 18px;
    width: 18px;
}

        /*menu bar links*/

.menu-bar a {
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    padding: 0.5rem;
    color: black;
    background-color: rgb(255, 173, 51);
    border-radius: 5px;
    width: 10rem;
    margin: 1rem 0;
    box-shadow: 5px 5px 1px;
    box-sizing: border-box;
}
.menu-bar a:hover {
    font-weight: bold;
}
.menu-bar a:active {
    box-shadow: 1px 1px 1px;
    transform: translatey(4px);
}

        /*Main section*/

main {
    background-color: rgb(242, 242, 242);
}

        /*Headings styles*/

h1 {
    font-size: 3rem;
    font-weight: bold;
    padding-top: 1rem;
    margin-top: 0;
}
h2 {
    font-size: 2rem;
    font-weight: bold;
}

        /*About section*/

.about {
    text-align: center;
    padding-top: 2rem;
}

.about h2 {
    margin-top: 0;
}

.my-coding {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    /*border: 1px solid rgb(255, 173, 51);*/
    /*box-shadow: 5px 5px 5px rgb(255, 173, 51);*/
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

.my-coding p {
    font-size: 1.2rem;
    padding: 1rem 0;
    line-height: 1.4;
    padding: 1rem 1rem;
    border-left: 5px solid rgb(255, 173, 51);
}

/*.p1, .p3 {
    border-left: 5px solid rgb(255, 173, 51);
}
.p2 {
    border-right: 5px solid rgb(255, 173, 51);
    padding-top: 2rem ;
    padding-bottom: 2rem;
}*/

        /*Skills section*/

.skills {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.5rem;
    justify-content: center;
    column-gap: 1.5rem;
    padding-bottom: 2rem;
}

.skills-details {
    height: 8rem;
    width: 6rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(255, 173, 51);
}

.skills-details summary {
    padding-top: 1rem;
}
.skills-details p {
    font-size: 1.5rem;
}

        /*Portfolio section*/

.portfolio {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 5rem;
}

.portfolio-container p {
    padding-bottom: 1.5rem;
}

.portfolio-container img {
    width: auto;
    height: 12rem;
}

.mobile-link {
    display: none;
}

/*Accessible Adventure*/
.portfolio1 {
    width: 45%;
    /*border: 1px solid rgb(255, 173, 51);
    box-shadow: 5px 5px 5px rgb(255, 173, 51);*/
    padding: 2rem 0.5rem;
    background-color: rgba(255, 173, 51, 0.2);
    border-radius: 10px;
}

/*First Catch*/
.portfolio2 {
    width: 45%;
    /*border: 0.5px solid rgb(255, 173, 51);
    box-shadow: 5px 5px 5px rgb(255, 173, 51);*/
    padding: 2rem 0.5rem;
    background-color: rgba(255, 173, 51, 0.2);
    border-radius: 10px;
}

.portfolio-container a {
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(255, 173, 51);
 
}
.portfolio-container a:hover {
    font-weight: bold;
}

.accessible-info {
    display: none;
}
.first-catch-info {
    display: none;
}

.close-info {
    padding-top: 1rem;
}

/*Mixed Messages*/
.portfolio3 {
    /*border: 1px solid rgb(255, 173, 51);
    box-shadow: 5px 5px 5px rgb(255, 173, 51);*/
    padding: 2rem 0.5rem;
    background-color: rgba(255, 173, 51, 0.2);
    border-radius: 10px;
}

.portfolio3 i {
    padding-left: 1rem;
}

.portfolio3 p {
    font-size: 1.5rem;
    line-height: 1.4;
}

.message-button {
    font-size: 1.5rem;
    background-color: rgb(255, 173, 51);
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px;
}

.message-button:hover {
    cursor: pointer;
}

.message-button:active {
    box-shadow: 1px 1px;
    transform: translatex(4px);
    transform: translatey(4px);
}

.random-message {
    font-size: 2rem;
    line-height: 1.4;
    font-weight: bold;
}

        /*Footer*/

footer {
    text-align: center;
    border-top: 1px solid black;
    background-image: linear-gradient(to bottom, rgba(255, 173, 51, 0), rgba(255, 173, 51, 1));
}

footer h2 {
    margin: 0;
    padding: 3rem 0;
}

        /*Media queries*/

@media only screen and (max-width: 800px) {
    .portfolio1 {
        width: 80%;
    }
    .portfolio2 {
        width: 80%;
    }
    .portfolio3 {
        width: 80%;
        margin: 0 auto;
    }
    .portfolio3 p {
        font-size: 1rem;
    }
    .my-coding {
        width: 90%;
    }
    .my-coding p {
        padding: 0 0.3rem;
    }
    h1 {
        padding-top: 5rem;
    }
    header {
        height: 14rem;
    }
    .about {
        padding-top: 150px;
    }
    .photo {
        height: 100px;
        width: 100px;
        top: 15rem;
        left: 35%;
    }
    .mobile-link {
        display: block;
    }
}
